html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
/* body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
} */
body{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
}

/* #canvas-container {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
canvas {
  /* width: 100%; */
  /* height: auto; */
  /* max-width: 600px;
  max-height: 400px;
  min-width: 320px;
  min-height: 213.333px; */
  margin-bottom: 20px;
  aspect-ratio: 3 / 2;
  transition: all 0.1s ease; 
}
#button-container {
  /* margin-top: 20px;  */
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  gap: 5px;
}
#screenshot-button{
  background: greenyellow;
}
#screenshot-button:hover{
  background: rgb(155, 231, 42);
}
button{
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  /* background: cornflowerblue; */
  font-size: 14px;
}
button:hover {
  background: rgb(206, 206, 206);
}
.adjust-settings-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-top: 12px;
}
select{
  margin-bottom: 10px;
}

#fullscreen-ui {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#fullscreen-ui.hide {
  opacity: 0;
}

/* Prevent hiding while hovering over the adjust-settings-container */
.adjust-settings-container:hover + #fullscreen-ui,
#fullscreen-ui:hover {
  opacity: 1 !important;
}

.footer-container a{
  /* text-decoration: none; */
  color: orange
}

@media screen and (max-width: 599px) {
  #button-container{
    width: fit-content;
    flex-direction: column;
    gap: 7px;
  }
  .adjust-settings-container {
    margin: 0;
    margin-top: 0;
  }
  .buttons-wrapper{
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width:366px) {
  button{
    font-size: 12px;
    padding: 0.2rem 0.4rem;
  }
}